.container{
    display: flex;
    align-items: center;
    flex-direction:column;
    color: pink;
}

.select{
    margin: 15px;
    width: 600px;
    color: pink;
}

.title , .desc{
    margin: 15px;
    width: 200px;
    height: 30px;
}

button{
    cursor: pointer;
    height: 40px;
    width: 140px;
    background-color: pink;
    border: none;
}

.img{
    max-width: 100%;
    object-fit: cover;
}

.todoIcon{
    cursor: pointer;
    height: 80px;
    width: 60px;
}
